* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f6f8fb;
}

.app {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 230px;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: #cbd5e1;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar a:hover {
  background: #1f2933;
  color: white;
}

/* MAIN */

.main {
  flex: 1;
  padding: 30px;
}

/* DASHBOARD */

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,.05);
}

.card h4 {
  color: gray;
}

.card h2 {
  margin: 0;
}

/* BOOKS */

.form-row input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 180px;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: .8;
}

.book-table {
  background: white;
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
}

.book-table table {
  width: 100%;
  border-collapse: collapse;
}

.book-table th {
  background: #f3f4f6;
  text-align: left;
  padding: 12px;
}

.book-table td {
  padding: 12px;
  border-top: 1px solid #eee;
}

/* DARK MODE */

.dark {
  background: #0f172a;
}

.dark .main,
.dark .card,
.dark .book-table {
  background: #020617;
  color: white;
}

.dark input {
  background: #020617;
  color: white;
  border: 1px solid #333;
}
